:root {
  --header-web: #2196f3;
  --nav-studio: #000000;
  --nav: #212121;
  --nav-number: #757575;
  --main: #2f303a;
  --main-title: #ffffff;
  --li-h2: #212121;
  --li-p: #757575;
  --footer-background: #2f303a;
  --button: #f5f4fa;
  --border-color: #eee;
  --program--color:#AFB1B8 ;
  --program-bg: #2196f3;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--header-web);
  margin-right: 93px;
}
.black {
  color: var(--nav-studio);
}

.navigation {
  font-size: 14px;
  font-weight: 500;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrap {
  display: flex;
  align-items: center;
}

.site-nav {
  width: 281px;
  display: flex;
  justify-content: space-between;
}

.site-nav-link:hover {
  color: var(--header-web);
  transition-duration: 250ms;
  
}

.contact-link:hover {
  color: var(--header-web);
  transition-duration: 250ms;
}

.contacts .contact-link:hover{
  color: var(--header-web);
  transition-duration: 250ms;
}

.contact-link:hover .contact-icon{
  fill: var(--header-web);
  transition-duration: 250ms;
}



.contact-icon{
  margin-right: 10px;
}

.site-nav-link {
  color: var(--nav);
  font-weight: 500;
  font-size: 14px;
  margin-right: 93px;
}

.site-nav-item {
  font-weight: 500;
}

.contact-link {
  color: var(--nav-number);
  display: flex;
  align-items: center;
}
.contacts {
  font-size: 14px;
  font-weight: 500;
  display: flex;
}

.gmail {
  margin-right: 50px;
  color: var(--li-p);
}

/* Post */
.post-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900px;
  font-size: 44px;
  text-align: center;
  line-height: 136%;
  text-transform: uppercase;
  color: var(--main-title);
  margin-bottom: 30px;
}

.social-icon{
  width: 20px;
  height: 20px;
  /* fill: var(--program--color); */
  
  
}

.social-list-item:hover{
  color: var(--header-web);

  transition-duration: 250ms;
}


.social-link{
  display: block;
  width: 44px;
  height: 44px;
  fill: var(--li-p);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover, .social-link:focus{
  fill: var(--main-title);
  background-color: var(--header-web);
}


.social-list{
  display: flex;
  justify-content: space-between;
  margin-right: 32px;
  margin-left: 32px;
  margin-top: 16px;
  gap: 8px;
}



.post {
  background-color: var(--main);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.post-btn {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-title);
  background-color: #2196f3;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  border: none;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.post-button-wrap {
  display: flex;
  justify-content: center;
}


/* clients */

.clients-icon{
  width: 106px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  margin-bottom: 94px;
  margin-top: 50px;
  fill: #AFB1B8;
  padding-left: 32px;
  padding-right: 32px;
 
  
}

.clients-icon:hover{
  fill: var(--header-web);
  border-color: var(--header-web);
  cursor: pointer;   
  transition-duration: 250ms;
}

.clients-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

/* Benefits */
.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  color: var(--li-p);
  font-family: "Roboto", sans-serif;
  line-height: 171%;
  letter-spacing: 0.42px;
}
.benefits-title {
  color: var(--li-h2);
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.clients-title{
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-top: 94px;
}

.clients-list{
  display: flex;
  
}

.benefits-item {
  width: 270px;
}

.benefits-item::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-color: var(--button);
  border-radius: 4px;
  background-image: url(../img/antenna.webp);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits-item:nth-child(2)::before {
  background-image: url(../img/clock.webp);
}

.benefits-item:nth-child(3)::before {
  background-image: url(../img/diagrama.webp);
}

.benefits-item:nth-child(4)::before {
  background-image: url(../img/astronaut.webp);
}

.benefits-list {
  display: flex;
  justify-content: space-between;
}

/* Worl */
.work {
  padding-bottom: 94px;
}

.work-item{
  position: relative;
}

.work-list {
  display: flex;
  justify-content: space-between;
}



.work-img {
  width: 370px;
  height: 294px;
}

.work-subtitle{
   position: absolute;
   bottom: 3.5px;
   color: var(--main-title);
   text-align: center;
   font-family: 'Roboto' , sans-serif;
   font-size: 14px;
   font-weight: 700;
   letter-spacing: 0.42px;   
   display: flex;
   align-items: center;
   justify-content: center;
   height: 70px;
   width: 100%;
   background-color: rgba(47, 48, 58, 0.80);   ;
}

.title {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
}

/* Team */
.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--button);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-img {
  width: 270px;
  height: 268px;
  margin-bottom: 30px;
}

.team-item {
  background-color: var(--main-title);
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--li-h2);
  margin-bottom: 10px;
}

.team-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--li-p);
  
}

.div-wrap{
  text-align: center;
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: space-between;
}
.addres-wrap{
  display: flex;
  flex-direction: column;
  
}

.footer-mail, .footer-number{
  display: block;
}


.footer-link {
  color: var(--header-web);
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
}

.white {
  color: #ffffff;
}
footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer-number {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer-mail {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.ftr-text{
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.ftr-list{
  display: flex;
  gap: 8px;
  
}

.ftr-wrap{
  
  
}

.ftr-link{
  display: block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 50%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.ftr-icon{
  width: 20px;
  height: 20px;
  fill: var(--main-title);
}
.ftr-link:hover{
  background-color: var(--header-web);
  transition-duration: 250ms;
}

/* POrtfolio */
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}
.filter-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1px;
  margin-right: 8px;
}

.filter-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  color: var(--nav);
  padding: 6px 22px;
  font-size: 16px;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--header-web);
  color: var(--main-title);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    transition-duration: 250ms;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.portfolio-box {
  padding: 20px 24px;
}

.portfolio-item {
  border: 1px solid var(--border-color);
  width: 370px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--li-h2);
  margin-bottom: 4px;
}

.portfolio-text {
  font-family: "Roboto", sans-serif;
  color: var(--li-p);
  font-size: 16px;
  font-weight: 400;
}

.section-main {
  padding-top: 94px;
  padding-bottom: 94px;
}


