:root{
    /* 1 ст */
    --header-web: #2196F3;
    --nav-studio: #000000;
    
    --nav: #212121;
    --nav-number: #757575;
    /* це там де h1 і кнопка */
    --main: #2F303A;
    --main-title: #FFFFFF;
    --li-h2: #212121;
    --li-p: #757575;
    --footer-background: #2F303A;
    /* 2 ст */
    --button: #F5F4FA;
    
}
body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,p{
    margin-bottom: 0;
    margin-top: 0;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;

}

a{
    cursor: pointer;
    text-decoration: none;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--header-web);
}
.black{
    color: var(--nav-studio);
}

.navigation{
    font-size: 14px;
    font-weight: 500;
    
}
.site-nav-link{
    color: var(--nav);
}
.contact-link{
    color: var(--nav-number);
}
.contacts{
    font-size: 14px;
    font-weight: 500;
}
                                                                                                                                                     /* font-family: 'Roboto',sans-serif; */
                                                                                                                                                     /* font-family: 'Raleway',sans-serif; */
.h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    text-align: center;

}
.button-posluga{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #2196F3;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border: 1px;
}

.p-li{
    font-weight: 400;
    font-size: 14px;
    color: var(--li-p);
    font-family: 'Roboto', sans-serif;
}
.h2-li{
    color: var(--li-h2);
    font-weight: 700;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.h2-img{
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

.h2-we{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;

}

.opus-h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 599;
    color: var(--li-h2);
}

.opus-p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--li-p);
}

.WebStudio-a{
   color: var(--header-web);
   font-size: 26px;
   font-weight: 700;

}

.white{
    color: #FFFFFF;
}
footer{
    background-color: var(--footer-background);
}

.p-footer{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

.a-number{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.60);
}

.a-gmail{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.60);
}
