:root{
    /* 1 ст */
    --header-web: #2196F3;
    --nav-studio: #000000;
    
    --nav: #212121;
    --nav-number: #757575;
    /* це там де h1 і кнопка */
    --main: #2F303A;
    --main-title: #FFFFFF;
    --li-h2: #212121;
    --li-p: #757575;
    --footer-background: #2F303A;
    /* 2 ст */
    --button: #F5F4FA;
    --border-color: #EEE;
    
}
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-container{
    display: flex;
    flex-direction: column;
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

a{
    cursor: pointer;

}



.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--header-web);
    margin-right: 93px;

}
.black{
    color: var(--nav-studio);
}

.navigation{
    font-size: 14px;
    font-weight: 500;
    
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-wrap{
    display: flex;
    align-items: center;
}

.site-nav{
    width: 281px;
    display: flex;
    justify-content: space-between;
}

.site-nav-link:hover{
    color: var(--header-web);
}

.contact-link:hover{
    color: var(--header-web);
}

.site-nav-link{
    color: var(--nav);
    font-weight: 500;
    font-size: 14px;
    margin-right: 93px;
}

.site-nav-item{
    font-weight: 500;

}



.contact-link{
    color: var(--nav-number);
}
.contacts{
    font-size: 14px;
    font-weight: 500;
    display: flex;

}

.gmail{
    margin-right: 50px;
    color: var(--li-p);
}

/* font-family: 'Roboto',sans-serif; */
/* font-family: 'Raleway',sans-serif; */
.h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900px;
    font-size: 44px;
    text-align: center;
    line-height: 136%;
    text-transform: uppercase;
    color: var(--main-title);
    margin-bottom: 30px;
    
}

.button{
    background-color: var(--main);
    padding-top: 200px;
    padding-bottom: 200px;
    
}

.button-posluga{
    font-size: 16px;
    font-weight: 700;
    color: var(--main-title);
    background-color: #2196F3;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border: none;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.button-wrap{
    display: flex;
    justify-content: center;
}

.attention{
    padding-top: 94px;
    padding-bottom: 94px;
}

.p-li{
    font-weight: 400;
    font-size: 14px;
    color: var(--li-p);
    font-family: 'Roboto', sans-serif;
}
.h2-li{
    color: var(--li-h2);
    font-weight: 700;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.li{
    width: 270px;

}

.attention-ul{
    display: flex;
    justify-content: space-between;
}

.team{
    padding-bottom: 94px;
}

.team-ul{
    display: flex;
    justify-content: space-between;
}

.team-img{
    width: 370px;
    height: 294px;
}

.team-title{
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
}

.teams{
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: var(--button);

}

.teams-ul{
    display: flex;
    justify-content: space-between;
    
}

.teams-img{
    width: 270px;
    height: 268px;
    margin-bottom: 30px;
}


.h2-teams{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;

}
.teams-item{
    background-color: var(--main-title);
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
}

.teams-h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--li-h2);
    margin-bottom: 10px;
}

.teams-p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--li-p);
}

.footer-a{
   color: var(--header-web);
   font-size: 26px;
   font-weight: 700;
   font-family: 'Raleway', sans-serif;
   margin-bottom: 20px;
}

.white{
    color: #FFFFFF;
}
footer{
    background-color: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.p-footer{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
    margin-bottom: 8px;
}

.a-number{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.60);
    margin-top: 8px;
    margin-bottom: 8px;
}

.a-gmail{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.60);
}

.box-item{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1px;
    margin-right: 8px;
}


.box-list{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1px;
    display: flex;
    justify-content: center;
    
}

.main-button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    color: var(--nav);
}

.main-button:nth-child(1){
    padding: 6px 25px 6px 25px;
}

.main-button:nth-child(2){
    padding: 6px 22px 6px 22px;
}

.main-button:nth-child(3){
    padding: 6px 22px 6px 22px;
}

.main-button:nth-child(4){
    padding: 6px 22px 6px 22px;
}

.main-button:nth-child(5){
    padding: 6px 22px 6px 22px;
}

.main-button:hover{
    background-color: var(--header-web);
    color: var(--main-title);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.section-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.container-main{
    padding: 20px 24px 20px 24px;
}

.section-item{
    border: 1px solid var(--border-color);
    width: 370px;
}



.container-h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--li-h2);
    margin-bottom: 4px;
 
}

.container-p{
    font-family: 'Roboto', sans-serif;
    color: var(--li-p);
    font-size: 16px;
    font-weight: 400;
   
}


 .section-main{
    padding-top: 94px;
    padding-bottom: 94px;
 }
